@model IEnumerable<InventoryPoc.Models.AccountingAssetModel>

<h2>Accounting Assets</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventoryAssetType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepreciationMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepreciationBasis)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryAssetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepreciationMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepreciationBasis)
            </td>

        </tr>
    }

</table>